.App {
  text-align: center;
}

.list-group {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 0;
  width: 300px;
  margin: auto;
}

.list-item {
  border: 2px solid black;
  margin: 20px 0;
}